VITE_INDEXER_URL=https://api.sorobanhooks.xyz/v1/api/indexer/:apiKey
VITE_TESTNET_RPC_URL=https://api.sorobanhooks.xyz/v1/api/testnet/:apiKey
VITE_MAINNET_RPC_URL=https://api.sorobanhooks.xyz/v1/api/mainnet/:apiKey
VITE_TESTNET_SOROBAN_RPC_URL=https://api.sorobanhooks.xyz/v1/api/testnet/:apiKey/rpc
VITE_MAINNET_SOROBAN_RPC_URL=https://api.sorobanhooks.xyz/v1/api/mainnet/:apiKey/rpc
